[user]
	email = github@growse.com
	name = Andrew Rowson
	signingkey = ~/.ssh/id_ed25519.pub
[http "https://gopkg.in"]
	followRedirects = true
[merge]
	ff = only
	conflictstyle = diff3
[alias]
	prune = fetch --prune
	stashall = stash save --include-untracked
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	fpush = push --force-with-lease
[commit]
	gpgsign = true
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[status]
	showUntrackedFiles = all
[gpg]
	format = ssh
[pull]
	rebase = true
[core]
	editor = vim
	eol = lf
	excludesfile = ~/.gitignore

[includeIf "gitdir:~/Projects/work/"]
    path = ~/.gitconfig_work


[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true # Lets make merge confilct detection easier
	autoUpdate = true # 
[diff]
	algorithm = histogram
[branch]
	sort = -committerdate
